
/******************************
* #bar
******************************/
#bar{
  color: $contrast;
  border-top: 1px solid transparentize($contrast, 0.82);
  box-shadow: 0 -1px 5px black;
  height: 120px;
  padding: 15px;
  font-size: 0.8rem;
  line-height: 0.8;
  background-color: linear-gradient($background, transparent);
  position: absolute;
  bottom: 0;

  h1{
    font-size: 1.2rem;
    line-height: 1;
    margin-top: 8px;
  }

  h4{
    font-size: 0.85rem;
    line-height: 0.4;
  }

}

#album-cover-small{
  height: 90px;
  width: 90px!important;
  float: left;

}

/*****************************
 #slider
*****************************/
#slider{
  width: 100%;
  height: 8px;
  background-color: darken($subtle, 20);
  border-radius: 5px;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  transition: all 0.3s ease-in-out;

  &:hover{
    #progress{
      background-color: $primary;
    }

    #marker{
      opacity: 1;
    }
  }
}

#progress{
  background-color: $subtle;
  width: 0%;
  height: 100%;
  border-radius: 5px;
}

#marker{
  width: 18px;
  height: 18px;
  border: 2px solid white;
  background-color: $contrast;
  border-radius: 10px;
  opacity: 0;
}

#player{
  width: calc(100% - 100px);
  float: left;
}

#controls{
  width: initial;
}

#controls{
  width: 252px;
  margin: auto;
}

#controls a.flow{
  height: 45px;
  width: 45px;
  margin-top: 1rem;
  padding: 0.6rem;
  border: none;
}

#controls a{
  display: block;
  float: left;
  height: 60px;
  margin: 10px;
  width: 60px;
  border: 2px solid white;
  border-radius: 40px;
  opacity: 0.5;
}

#controls a:hover{
  opacity: 1;
}

a.selected{
  color: $primary;
}

a.flow-control {
    margin-left: 0.5rem;
}
