/***************************
  Sidebar
***************************/

// variables
$accordion-bg: transparent;
$accordion-sub-bg: transparent;
$accordion-separator: #41444a;


#toolbar{
  float: left;
  color: white;
  background-color: $background;
  border-right: 1px solid transparentize($contrast, 0.85);

  &.open{
    margin-left:0;
  }
}

.menu{
  clear: both;
}

.song{
  color: transparentize($contrast, 0.5);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}


li:hover > .song {

}

.song-container{
  color: transparentize($contrast, 0.5);

  .add-button{
    position: relative;
    right: 1rem;
    top: 0;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    float: right;
  }

  a:hover .add-button:hover{
    color: green;
  }

  a:hover .add-button {
    color: transparentize($contrast, 0.5);
  }
}

.song-container:hover{
  .add-button{
    opacity: 1;
  }
}


.song.selected{
  color: $contrast;
}

.song.selected i{
  color: $primary;
}

// Song padding
.menu>li:not(.menu-text)>a.song {
    padding: 0.8rem 0;
}

.add-menu{
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  background-color: $background;
  width:100%;
  margin-left: -1rem;

  a{
    line-height: 2.5;
    margin-left: 6px;
  }
}

.menu>li.is-accordion-submenu-parent>a {
    display: block;
}

.menu > li a i{
  margin: 0 .5rem;
}

a.subitem.song {
    display: block;
}

.accordion-menu{
  margin-bottom: 2.5rem;
  margin-left: -1rem;

  li:first-child a{
    border-top: 1px solid $accordion-separator;
  }

  p{
    color: transparentize($contrast, 0.5);
    font-size: 0.8rem;
    line-height: 1;
    margin-top: 2rem;
    margin-bottom: .5rem;
    margin-left: .5rem;
    font-weight: bold;
  }
}

// Folder open
.is-accordion-submenu-parent[aria-expanded='true']>a, .accordion-menu li.is-accordion-submenu-parent:first-child[aria-expanded='true']>a {
    border: 1px solid $primary;
}


// background for main accordion items
.is-accordion-submenu-parent a {
  background: $accordion-bg;
}

// background for sub accordion items
.is-accordion-submenu a {
  background: $accordion-sub-bg;
}

.accordion-menu li.is-accordion-submenu-parent:first-child > a {
    border-top: 1px solid #41444a;
}

.accordion-menu li:first-child a {
    border-top: none;
}

// style for folder icon on subitem anchors without a submenu
[data-accordion-menu] .is-accordion-submenu-parent[aria-expanded="true"] a.subitem::before {
  margin-right: 1rem;
}

// style for folder icon on subitem anchors without a submenu
// [data-accordion-menu] .is-accordion-submenu-parent[aria-expanded="false"] a.subitem::before {
//   content: "\f001";
// }


// changes folder icon to open then accordion is open
[data-accordion-menu] .is-accordion-submenu-parent[aria-expanded="true"] a {
  &::before {
    margin-right: 1rem;
  }
}
//
// changes folder icon to closed then accordion is closed
[data-accordion-menu] .is-accordion-submenu-parent[aria-expanded="false"] a {
  &::before {
    margin-right: 1rem;
  }
}
//
// // changes folder icon to open then accordion is open
[data-accordion-menu] .is-accordion-submenu-parent[aria-expanded="true"] a.playlist {
  &::before {
    margin-right: 1rem;
  }
}
//
// changes folder icon to closed then accordion is closed
[data-accordion-menu] .is-accordion-submenu-parent[aria-expanded="false"] a.playlist {
  &::before {
    margin-right: 1rem;
  }
}

[data-accordion-menu] {
  li{
    // sets accodion item separator color
    // border-bottom: 1px solid $accordion-separator;
  }

  a {
    color: transparentize($contrast, 0.5);

    &::after {
      // sets accodion arrow color and direction
      border-color: transparentize($contrast, 0.5) transparent transparent;
    }
  }
}
