$background: #111111;
$primary: #924cf1;
$contrast: white;
$subtle: #666666;

@import './settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

@import "sidebar";
@import "player";

.logo{
  margin: 30px auto;
  width: 200px;
  height: auto;
  display: block;
}

.album-data{
  opacity: 0.5;
}

#album-cover{
  height: 160px;
  width: 160px;
}

#overlay{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.2), black);

  &.welcome{
    background: black;
  }
}

.js-off-canvas-overlay.is-visible {
    opacity: 0;
    visibility: hidden;
    display: none;
}

.off-canvas-wrapper{
  height: calc(100% - 120px);
}

.relative{
  position: relative;
  height: calc(100% - 3rem);
  overflow-y: overlay;
}

#menu-button{
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}

#cover-container{
  float: left;
  height: 100%;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

#cover-background{
  height: calc(100% - 1rem);
  width: 100%;
  position: relative;
}



.welcome{
  background: #C33764;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width:100%;
  height: 100%;
  color: $contrast;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;

  *{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
  }
}



::-webkit-scrollbar {
    width: 6px;
    position: absolute;
    margin-right: -6px;
}

::-webkit-scrollbar-track {
    // -webkit-box-shadow: inset 0 0 3px $background;
    border-radius: 5px;
    background: darken($background, 20);
}

::-webkit-scrollbar-thumb {
    background-color: lighten($background, 10);
    border-radius: 5px;
    // -webkit-box-shadow: inset 0 0 6px black;
}

/*****************************
 #metadata
*****************************/
#metadata{
  position: absolute;
  bottom: 36%;
  left: 4%;
  color: $contrast;

  img{
    float: left;
    margin-right: 24px;
  }

  h1{
    margin-top: 1.5em;
    line-height: 0.8;
    font-size: 2em;
  }

  h4{
    line-height: 0.8;
    font-size: 1.2em;
  }
}

// padding for each list item
.menu > li:not(.menu-text) > a {
  padding: 1.2rem 1rem;
}

// Basics

html, body{
  height: 100%;
}

body{
  background: $background;
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

h1,h2,h3,h4,h5,h6{
  font-weight: 300;
  color: white;
}

a{
  color: transparentize($contrast, 0.8);
  transition: all 0.5s ease;
}

a:hover{
  color: $contrast;
}

a:focus{
  color: $primary;
}
