<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Spartan</title>
    <link rel="stylesheet" href="css/app.css">
    <link href="fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="fonts/raleway/raleway.css" rel="stylesheet">
  </head>
  <body>
    <canvas id="cover-background"></canvas>
    <div id="overlay" v-bind:class="{ welcome: currentSong == null }">

      <div class="off-canvas-wrapper">
          <!-- Sidebar -->
          <sidebar v-on:add-folder="addFolder">
            <folder slot="folders"
                    v-for="folder in folders"
                    :folder="folder"
                    :key="folder.name"
                    v-on:song-selected="setSongAndLocation"></folder>
            <playlist slot="playlists"
                      v-for="playlist in playlists"
                      :playlist="playlist"
                      :key="playlist.name"
                      v-on:update-playlist="updatePlayList"
                      v-on:song-selected="setSongAndLocation"></playlist>
          </sidebar>
            <!-- Cover -->
            <cover :current-song="currentSong"></cover>
      </div>

      <!-- Bar -->
      <player :current-song="currentSong" :current-location="currentLocation" v-on:next-song="nextSong" v-on:previous-song="previousSong"></player>
      <new-playlist-modal v-on:add-playlist="addPlayList"></new-playlist-modal>
    </div>

    <!-- The app -->
    <script src="app/app.js" charset="utf-8"></script>
  </body>
</html>
